		*{
			margin: 0;
			padding: 0;
		}
		body{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 90vh;
			background-color: #019b6dbf;
		}
		#container{
			background-color: black;
			color: white;
			padding: 0px 40px 40px 40px;
			border-radius: 10px;
		}
		h1{
			font-size: 4rem;
		}
		#box{
			padding-top:40px ;
		}
		#input{
			width: 270px;
			height: 30px;
			border-radius: 5px;
			outline: none;
			border:none;
		}
		#button{
			height: 30px;
			width: 70px;
			border-radius: 5px;
			border:2px solid white;
			background-color: black;
			color: white;
			cursor: pointer;
		}
		input::placeholder{
			color:black
			font-size:2rem;
			padding: 10px;
		}

		li{
			list-style-type: none;
			font-size: 1.5rem;
			padding: 5px;
			margin:10px;
			width: 320px;
			height: 20px;
			display: flex;
			flex-direction: row;
			border-radius: 3px;
			justify-content: space-between;
		}

		#deleteBtn{
			height: 30px;
			width: 50px;
			border-radius: 5px;
			border:2px solid white;
			background-color: black;
			color: white;
			cursor: pointer;
			margin: -5px;
		}
		small{
			font-size: 0.5rem;
			display: block;
		}